<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Configuration</title>
    <!-- Link to external CSS -->
    <link rel="stylesheet" href="assets/admin_style.css" />
</head>
<body>
    <div class="config-wrapper">
        {{ if .ErrorMessage }}
            <div class="error-message">{{ .ErrorMessage }}</div>
        {{ end }}
        {{ if .SuccessMessage }}
            <div class="success-message">{{ .SuccessMessage }}</div>
        {{ end }}

        <form method="post" action="/admin/config" class="config-form">
            {{ .CSRFTemplateField }}

            <label for="bot_token">Telegram Bot Token:</label>
            <input type="password" id="bot_token" name="bot_token" value="{{.Config.TelegramBotToken}}" />

            <label for="chat_id">Telegram Chat ID:</label>
            <input type="text" id="chat_id" name="chat_id" value="{{.Config.TelegramChatID}}" />

            <label for="binance_api_key">Binance API Key:</label>
            <input type="password" id="binance_api_key" name="binance_api_key" value="{{.Config.BinanceAPIKey}}" />

            <label for="binance_api_secret">Binance API Secret:</label>
            <input type="password" id="binance_api_secret" name="binance_api_secret" value="{{.Config.BinanceAPISecret}}" />

            <label for="binance_api_url">Binance API URL:</label>
            <input type="text" id="binance_api_url" name="binance_api_url" value="{{.Config.BinanceAPIURL}}" />

            <button type="submit">Save</button>
        </form>
    </div>
</body>
</html>