<!-- login.html -->
<html>
<head>
    <title>Admin Login</title>
</head>
<body>
    {{if .ErrorMessage}}
        <div style="color: red;">{{.ErrorMessage}}</div>
    {{end}}
    <form method="post" action="/admin/login">
        {{ .CSRFTemplateField }}
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Login">
    </form>
</body>
</html>